<section class="py-5">
    <h2 class="display-3">
        Thank you for your purchase
    </h2>
    <p class="lead">the product is on its way, continue purchasing</p>
    <a href="/" class="btn btn-info">Continue Shopping!</a>
</section>